<div class="row">
    <div class="col-2" id="lstFlagInfo">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="searchHelpFlagInfo"><i class="fas fa-search d-inline"></i></span>
            </div>
            <input type="text" class="form-control fuzzy-search" id="searchFlagInfo" aria-label="{{site.data.strings.flag_info.search_label}}" aria-describedby="searchHelpFlagInfo" placeholder="{{site.data.strings.flag_info.search_label}}">
        </div>

        <div class="list-group list mt-1" role="tablist">
        {% for flag_info in site.data.flags_info %}
            <a class="list-group-item list-group-item-action flag_name" id="list-{{- flag_info.id -}}-list" data-toggle="list"
                href="#list-{{- flag_info.id -}}" role="tab" aria-controls="{{- id -}}">{{ flag_info.name }}</a>
        {% endfor %}
        </div>

        <nav class="my-2" aria-label="{{site.data.strings.flag_info.pagination_label}}">
            <ul class="pagination paginationBottom justify-content-center">
            </ul>
        </nav>
    </div>
    <div class="col-6 mt-3">
        <div class="tab-content" id="nav-tabContent">
        {% for flag_info in site.data.flags_info %}
            <div class="tab-pane fade" id="list-{{- flag_info.id -}}" role="tabpanel" aria-labelledby="list-{{- flag_info.id -}}-list">
                <div class="d-block mx-auto"><img src="{{- flag_info.img -}}" class="card-img-top flag-info-image flag_info_image" alt="{{ flag_info.name }} flag image" loading="lazy"></div>
                <div class="card-body flag-info-body">
                    <h3 class="card-title flag_info_name">{{ flag_info.name }}</h3>
                    <p class="card-text flag_info_description">{{ flag_info.description }}</p>
                    <a href="{{- flag_info.link -}}" class="card-link flag_info_link" target="_blank" rel="noopener noreferrer">{{ site.data.strings.flag_info.source_label }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>