<div class="row">
    <div class="col-lg-3">
        <div class="mt-2 mb-1" id="lstSelectContainer">
        </div>
    </div>

    <div class="col-lg-6 mt-sm-1">
        <div class="form-group">
            <label for="btnSelectForm" class="select-form-label">{{ site.data.strings.select_form.label }}</label>
            <div class="d-block btn-group select-form" role="group" aria-label="Form" id="btnSelectForm">
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" value="" id="chbShowGrid">
                    <label class="form-check-label" for="chbShowGrid">
                        {{ site.data.strings.sprite.show_grid }}
                    </label>
                </div>
            </div>
            <div class="card-img-top sprite-view-container mx-auto" id='spriteViewContainer'></div>
            <div class="card-body">
                <h5 class="card-title" id="spriteViewTitle"></h5>
                <p class="card-text" id="spriteViewDescription"></p>
                
                <a href="#" class="btn btn-primary" id="btnDownload">{{ site.data.strings.sprite.download }}</a>
                <a href="#" class="btn btn-primary" id="btnFullDownload">{{ site.data.strings.sprite.full_download }}</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 mt-sm-3 mt-md-5">
        <div class="card card-flag-info mx-sm-2">
            <img src="{{- site.data.strings.flag_info.unknown.img -}}" class="card-img-top" alt="flag image" id="flagInfoImage">
            <div class="card-body">
                <h5 class="card-title" id="flagInfoTitle">{{ site.data.strings.flag_info.unknown.title }}</h5>
                <p class="card-text" id="flagInfoDescription">{{ site.data.strings.flag_info.unknown.description }}</p>
                <a href="#" class="card-link" id="flagInfoLink" target="_blank" rel="noopener noreferrer"></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    {% include flags_list.html %}
</div>