<div class="row">
    <div class="col-4">
        {% include main_ui.html %}
    </div>

    <div class="col-4" id='spriteViewContainer'>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="http://via.placeholder.com/250x150" class="card-img-top" alt="flag name">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>