<div class="row">
    <div class="col-lg-3 col-md-5">
        <div class="form-group">
            <label for="lstSelectContainer" class="select-parts-label">{{ site.data.strings.select_parts.label }}</label>
            <div class="mt-2 mb-1" id="lstSelectContainer"></div>
        </div>
    </div>

    <div class="col-lg-9 col-md-7 mt-sm-1">
        <div class="form-group">
            <label for="lstSelectForm" class="select-form-label">{{ site.data.strings.select_form.label }}</label>
            <div class="list-group list-group-horizontal select-form" role="group" aria-label="{{ site.data.strings.select_form.label }}" id="lstSelectForm">
            </div>
        </div>
    
        <div class="card">
            <div class="card-body">
                <div class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" value="" id="chbShowGrid">
                    <label class="form-check-label" for="chbShowGrid">
                        {{ site.data.strings.sprite.show_grid }}
                    </label>
                </div>
            </div>
            <div class="card-img-top sprite-view-container mx-auto" id='spriteViewContainer'></div>
            <div class="card-body">
                <h5 class="card-title" id="spriteViewTitle"></h5>
                <p class="card-text" id="spriteViewDescription"></p>
                
                <a href="#" class="btn btn-primary" id="btnDownload">{{ site.data.strings.sprite.download }}</a>
                <a href="#" class="btn btn-primary" id="btnFullDownload">{{ site.data.strings.sprite.full_download }}</a>
            </div>
        </div>
    </div>
</div>


{% include flags_list.html %}
