<script type='text/javascript'>
    {%- if site.options.useCache -%}
    const USE_CACHE = true;
    {%- else -%}
    const USE_CACHE = false;
    {%- endif -%}
</script>

{% include main.html %}

<section id="sectionFlagList" class="mt-5">
    {% include flags_list.html %}
</section>

<section id="sectionMisc" class="mt-5">
    <h2>{{ site.data.strings.misc.title }}</h2>
    <div class="row mx-1">
        <div class="col-lg-4">
            <div class="form-group">
                <button id="btnClearSession" class="btn btn-warning">{{ site.data.strings.misc.clear_session }}</button>
                <small id="btnClearSessionHelp" class="form-text text-muted">{{site.data.strings.misc.clear_session_help }}</small>
            </div>
        </div>
    </div>
</section>