.text-primary {
    //color: #f8483f !important;
    color: lighten($primary, 30%) !important;
}

.text-secondary {
    //color: #af7e7c  !important;
    color: lighten($secondary, 20%) !important;
}

.text-danger {
    //color: #ff3e3d !important;
    color: lighten($danger, 30%) !important;
}